@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:400,700&display=swap");

/* font-family: 'Abril Fatface', cursive;
font-family: 'Open Sans', sans-serif; */

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  line-height: 1.5em;
  color: #747474;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

.main {
  width: 70%;
  height: 75%;
  margin: auto;
  border-radius: 10px;
  display: flex;
  background: rgb(74, 88, 117); 
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in 0.1s;
}
/* PAGE HOME */
.home {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  color: white;
  background: rgb(249, 63, 76);
  display: flex; /* flex or none */
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  opacity: 1;
  transition: all 0.4s ease-in 0.2s;
}
.home h1 {
  margin-bottom: 80px;
  color: white;
  text-align: center;
}
.home h1 span {
  color: white;
  display: block;
  font-size: 2.5em;
  font-family: "Abril Fatface", cursive;
}
.home p {
  margin-top: 40px;
}
.home p a {
  color: white;
}
a.link-copy {
  text-decoration: none;
}
.btn {
  background: none;
  border: 2px solid white;
  border-radius: 150px;
  align-self: center;
  width: 150px;
  padding: 8px 16px;
  margin: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s ease-in-out 0.1s;
}
.btn:hover {
  background: white;
  color: rgb(244, 180, 52);
}

/* PAGE SING UP */
.sign-up {
  display: none; /*flex or none*/
  opacity: 1;
  width: 100%;
  height: 100%;
}
.signup-left {
  width: 50%;
  /* padding: 20px; */
  opacity: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  font-size: 14px;
  background: rgb(249, 63, 76);
  border-radius: 10px 0 0 10px;
  transition: all 0.5s ease-in 0.2s;
}
.signup-left h1 {
  font-size: 21px;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 2px;
}
.signup-left h1,
.signup-left div,
.signup-left h3,
.signup-left p {
  color: white;
}
.signup-left h3 {
  font-size: 2.2em;
}

.btn-back {
  align-self: flex-start;
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.angle-left-color {
  color: white;
  margin-right: 5px;
}
.form-area {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 20%;
  height: 60%;
  padding: 20px 0;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 2;

  opacity: 0;
  transition: opacity 0.5s ease-in 0.2s;
}
.organize-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}
.organize-form h2 {
  font-size: 1.4em;
  font-weight: normal;
}
.organize-form h2::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background: rgb(249, 63, 76);
  margin: 0 auto;
}
.organize-form p a {
  color: rgb(249, 63, 76);
  text-decoration: none;
  font-weight: bold;
}
.form-area-signup {
  /* display: none; */
  opacity: 0;
  transition: all 0.4s ease-in 0.2s;
}
.form-area-signin {
  /* display: none; */
  opacity: 0;
  transition: all 0.4s ease-in 0.2s;
}

.form {
  width: 85%;
}
.form-field {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}
.form-field input {
  border: none;
  padding: 5px;
  border-bottom: 1px solid rgba(116, 116, 116, 0.44);
  height: 30px;
  transition: border-bottom 0.1s ease-in-out 0.1s;
}
.form-field input:focus {
  border-bottom: 1px solid rgb(249, 63, 76);
}
.form-field label {
  position: relative;
  top: 25px;
  left: 5px;
  cursor: text;
  transition: all 0.2s ease-in-out 0.1s;
  color: rgba(116, 116, 116, 0.44);
  user-select: none;
}
.btn-sign {
  border: none;
  background: rgb(249, 63, 76);
  color: white;
  font-weight: bold;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.1s ease 0.1s;
}
.btn-sign:hover {
  background: rgb(52, 47, 79);
}
.signup-right {
  width: 50%;
  padding: 20px;
  background: white;
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-end;
  background-image: url("https://i.pinimg.com/564x/cc/51/8a/cc518a8b056431fb434240676d1e77fb.jpg");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 235% 50%;

  opacity: 0;
  transition: opacity 0.5s ease-in 0.2s, background-position-x 0.5s ease-in 0.2s;
}
.bars-style {
  color: rgb(249, 63, 76);
  cursor: pointer;
  font-size: 16px;
}

@media (max-width: 1023px) {
  .main {
    width: 100%;
    height: 100%;
  }
  .home, .signup-left { border-radius: 0; }
  .form-area {
    left: 35%;
    width: 30%;
    height: 70%;
  }
}
@media (max-width: 768px) {
  .form-area {
    left: 20%;
    width: 60%;
  }
  .wc_message {
/*     display: none; */
    opacity: 0;
    transition: opacity .1s;
  }
}

@media (max-width: 375px) {
  .form-area {
    left: 10%;
    width: 80%;
  }
}

#app {
    width: 100%;
}